<mat-card>
    <mat-card-header>
        <mat-card-title>Find an existing reservation</mat-card-title>
        <mat-card-subtitle>
            Enter your reservation number and other details to find your reservation
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form
            class="flex flex-col"
            [formGroup]="form"
            (ngSubmit)="submit()"
        >
            <mat-form-field>
                <mat-label>Reservation Number</mat-label>
                <input matInput type="number" autocomplete="off" formControlName="Id"/>
                @if (form.controls.Id.errors && form.controls.Id.touched) {
                    <mat-error>Id is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput autocomplete="off" formControlName="Name"/>
                @if (form.controls.Name.errors && form.controls.Name.touched) {
                    <mat-error>Name is missing or is too long</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Party Size</mat-label>
                <input matInput type="number" formControlName="PartySize"/>
                @if (form.controls.PartySize.errors && form.controls.PartySize.touched) {
                    <mat-error>Please input a number between 1 and {{CONSTANTS.MAX_SEATS}}</mat-error>
                }
            </mat-form-field>

            <button
                (keydown.enter)="submit()"
                color="primary"
                mat-raised-button
                type="submit"
                [disabled]="form.invalid || isBusy"
            >
                {{isBusy ? 'Looking for your reservation...' : 'Find Reservation'}}
            </button>
        </form>
    </mat-card-content>
</mat-card>
